@charset "UTF-8";

@font-face {
    font-family: "SpoqaHanSansNeo";
    font-weight: 700;
    src:
        local("Spoqa Han Sans Bold"),
        url("../../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.eot")
            format("eot"),
        url("../../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.otf")
            format("otf"),
        url("../../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.ttf")
            format("truetype"),
        url("../../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff")
            format("woff"),
        url("../../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2")
            format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "SpoqaHanSansNeo";
    font-weight: 500;
    src:
        local("Spoqa Han Sans Medium"),
        url("../../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.eot")
            format("eot"),
        url("../../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.otf")
            format("otf"),
        url("../../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.ttf")
            format("truetype"),
        url("../../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff")
            format("woff"),
        url("../../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2")
            format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "SpoqaHanSansNeo";
    font-weight: 400;
    src:
        local("Spoqa Han Sans Regular"),
        url("../../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.eot")
            format("eot"),
        url("../../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.otf")
            format("otf"),
        url("../../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.ttf")
            format("truetype"),
        url("../../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff")
            format("woff"),
        url("../../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2")
            format("woff2");
    font-display: swap;
}
