/**
 * Color 
 */
$vc-black: #000;
$vc-white: #fff;

$vc-accent: #9398ff;

$vc-indigo-50: #eef2ff;
$vc-indigo-100: #e0e7ff;
$vc-indigo-200: #c7d2fe;
$vc-indigo-300: #a5b4fc;
$vc-indigo-400: #6568fe;
$vc-indigo-500: #6366f1;
$vc-indigo-600: #4f46e5;
$vc-indigo-700: #4338ca;
$vc-indigo-800: #3730a3;
$vc-indigo-900: #312e81;
$vc-indigo-950: #1e1b4b;

$vc-white: #fff;

$vc-gray-50: #f9fafb;
$vc-gray-100: #f3f4f6;
$vc-gray-300: #d1d5db;
$vc-gray-400: #9ca3af;
$vc-gray-500: #6b7280;
$vc-gray-600: #4b5563;
$vc-gray-700: #374151;
$vc-gray-800: #1f2937;
$vc-gray-900: #111827;
$vc-gray-950: #030712;

$vc-violet-50: #f5f3ff;
$vc-violet-100: #ede9fe;
$vc-violet-200: #ddd6fe;
$vc-violet-300: #c4b5fd;
$vc-violet-400: #a78bfa;
$vc-violet-500: #8b5cf6;
$vc-violet-600: #7c3aed;
$vc-violet-700: #6d28d9;
$vc-violet-800: #5b21b6;
$vc-violet-900: #4c1d95;
$vc-violet-950: #2e1065;

$vc-red-50: #fef2f2;
$vc-red-100: #fee2e2;
$vc-red-200: #fecaca;
$vc-red-300: #fca5a5;
$vc-red-400: #f87171;
$vc-red-500: #ef4444;
$vc-red-600: #dc2626;
$vc-red-700: #b91c1c;
$vc-red-800: #991b1b;
$vc-red-900: #7f1d1d;
$vc-red-950: #450a0a;

$gradient_bg_light: linear-gradient(
    0deg,
    #ded2ff -46.93%,
    #d2daff -31.6%,
    #dee4ff -4.86%,
    #fff 117.99%
);

$gradient_dawn_dusk: linear-gradient(200deg, #a78bfa 9.08%, #a5b4fc 86.42%);
$gradient_day: linear-gradient(126deg, #95acff 28.01%, #cbddff 97.28%);
$gradient_night: linear-gradient(144deg, #000 -18.87%, #4d54f1 143.07%);
