/**
 * Icon UI
 */

.ic_back {
    background: url("../images/ic_arrow_back.svg") no-repeat;
    background-size: contain;
    display: block;
}

.ic_back_primary {
    background: url("../images/ic_arrow_back_primary.svg") no-repeat
        center/cover;
    width: 22px;
    height: 22px;
    display: block;
    font-size: 1.3rem !important;
}

.ic_profile_setting {
    background: url("../images/ic_profile_setting.svg") no-repeat;
    background-size: contain;
    display: block;
}

.ic_home {
    background: url("../images/ic_home.svg") no-repeat center/cover;
    width: 17px;
    height: 18px;
    display: block;
}

.logo_docent {
    background: url("../images/logo_docent.svg") no-repeat center/cover;
    width: 42px;
    height: 42px;
    display: block;
}

.ic_status_dream {
    background: url("assets/images/ic_status_dream.svg") no-repeat center;
    background-size: contain;
    display: block;
}

.ic_kakao_logo {
    background: url("assets/images/ic_kakao_logo.svg") no-repeat center;
    background-size: contain;
    display: block;
}

.ic_line_logo {
    background: url("assets/images/ic_line_logo.svg") no-repeat center;
    background-size: contain;
    display: block;
}

.ic_status_diary {
    background: url("assets/images/ic_status_diary.svg") no-repeat center;
    background-size: contain;
    display: block;
}

.ic_status_memo {
    background: url("assets/images/ic_status_memo.svg") no-repeat center;
    background-size: contain;
    display: block;
}

.ic_status_same {
    background: url("assets/images/ic_status_same.svg") no-repeat center;
    background-size: contain;
    display: block;
}

.ic_status_start {
    background: url("assets/images/ic_status_start.svg") no-repeat center;
    background-size: contain;
    display: block;
}

.ic_tag_total {
    background: url("../images/ic_tag_total.svg") no-repeat center;
    background-size: contain;
    display: block;
}

.ic_tag_dream {
    background: url("../images/ic_tag_dream.svg") no-repeat center;
    background-size: contain;
    display: block;
}

.ic_tag_diary {
    background: url("../images/ic_tag_diary.svg") no-repeat center;
    background-size: contain;
    display: block;
}

.ic_tag_memo {
    background: url("../images/ic_tag_memo.svg") no-repeat center;
    background-size: contain;
    display: block;
}

.ic_tag2_dream {
    background: url("../images/ic_tag2_dream.svg") no-repeat;
    background-size: contain;
    display: block;
}

.ic_tag2_diary {
    background: url("../images/ic_tag2_diary.svg") no-repeat;
    background-size: contain;
    display: block;
}

.ic_tag2_memo {
    background: url("../images/ic_tag2_memo.svg") no-repeat;
    background-size: contain;
    display: block;
}

.ic_new_chat {
    background: url("../images/ic_new_chat.svg") no-repeat center/cover;
    background-size: contain;
    display: block;
}

.ic_send {
    background: url("../images/ic_send.svg") no-repeat center/cover;
    width: 15px;
    height: 11px;
    display: block;
}

.ic_voice {
    background: url("../images/ic_voice.svg") no-repeat center/cover;
    width: 56px;
    height: 56px;
    display: block;
}

.ic_docent {
    background: url("../images/ic_docent.svg") no-repeat center/cover;
    width: 56px;
    height: 56px;
    display: block;
}

.ic_close {
    background: url("../images/ic_close.svg") no-repeat center/cover;
    width: 56px;
    height: 56px;
    display: block;
}

.ic_calendar {
    background: url("../images/ic_calendar.svg") no-repeat center/cover;
    width: 25px;
    height: 25px;
    display: block;
}

.ic_list {
    background: url("../images/ic_list.svg") no-repeat center/cover;
    width: 25px;
    height: 25px;
    display: block;
}

.ic_board {
    background: url("../images/ic_board.svg") no-repeat center/cover;
    width: 25px;
    height: 25px;
    display: block;
}

// Navigation
.nav_home {
    background: url("../images/nav_home.svg") no-repeat center/cover;
    width: 50px;
    height: 50px;
    background-size: contain;
    display: block;
}

.nav_home.active {
    background: url("../images/nav_home_active.svg") no-repeat center/cover;
    background-size: contain;
}

.nav_calendar {
    background: url("../images/nav_calendar.svg") no-repeat center/cover;
    width: 50px;
    height: 50px;
    background-size: contain;
    display: block;
}

.nav_calendar.active {
    background: url("../images/nav_calendar_active.svg") no-repeat center/cover;
    background-size: contain;
}

.nav_report {
    background: url("../images/nav_report.svg") no-repeat center/cover;
    width: 50px;
    height: 50px;
    background-size: contain;
    display: block;
}

.nav_report.active {
    background: url("../images/nav_report_active.svg") no-repeat center/cover;
    background-size: contain;
}

.nav_mypage {
    background: url("../images/nav_mypage.svg") no-repeat center/cover;
    width: 50px;
    height: 50px;
    background-size: contain;
    display: block;
}

.nav_mypage.active {
    background: url("../images/nav_mypage_active.svg") no-repeat center/cover;
    background-size: contain;
}