/**
 * Default UI
 */
@charset "UTF-8";
@import "@/assets/scss/variables.scss";

html {
    background-color: #eeeeee;
}

body {
    font-family: "Pretendard";
    max-width: 50rem;
    height: 100%;
    margin: 0 auto;
    min-height: calc(var(--vh, 1vh) * 100);
    background-color: #fff;
    --v-scrollbar-offset: 0 !important;

    // 안되면 bottom, top margin에 safe-area 추가
    > div {
        background: #fff;
        max-width: 50rem;
        margin: 0 auto;
    }
}

.viewport {
    width: 100vw !important;
    max-width: 500px;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    // border: 1px solid red;
    // background-color: rgba(255, 0, 0, 0.2);
}

.layout {
    width: 100%;
    height: 100%;

    // border: 1px solid blue;
    // background-color: rgba(0, 0, 255, 0.2);
    // z-index: 998;
}

.contents {
    width: 100%;
    height: 100%;

    overflow: scroll;
    // border: 1px solid yellow;
    // background-color: rgba(255, 255, 0, 0.2);
}

.navigation {
    position: fixed;
    bottom: 0;
    bottom: constant(safe-area-inset-bottom);
    bottom: env(safe-area-inset-bottom);

    width: 100% !important;
    max-width: 500px;
    border-top: 1px solid #e1e1e1;
    background: #ffffff;
    height: 9rem !important;
    left: 50% !important;
    transform: translateX(-50%) !important;

    display: flex;
    align-items: center;
    z-index: 11;
}

.header {
    width: 100%;
    max-width: 500px;
    height: 60px;
    position: sticky;
    display: flex;
    align-items: center;
    padding: 1.5rem 1.3rem;
    z-index: 90;
    top: 0;
    top: constant(safe-area-inset-top);
    top: env(safe-area-inset-top);
    background: #fff;

    position: fixed;
    top: constant(safe-area-inset-top);
    top: env(safe-area-inset-top);
}

// Button
// 일반 버튼: 48px
// Fixed 버튼: 48px + 40px = 88px
.button {
    width: calc(100% - 40px);
    height: 48px;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #9398ff;
    color: var(--white, #fff);
    font-family: "Pretendard Medium";
    font-size: 16px;
}

.button.fixed-bottom {
    // position: fixed;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    margin-bottom: calc(constant(safe-area-inset-bottom) + 30px);
    margin-bottom: calc(env(safe-area-inset-bottom) + 30px);
}

.button.disabled {
    background: var(--gray-200, #e5e7eb);
    color: var(--gray-400, #9ca3af);
}

.v-progress-linear {
    position: fixed;
    z-index: 95;
    top: 60px !important;
    height: 0.2rem;
    width: 100%;
    max-width: 500px;
    background: #eeeeee;

    .v-progress-linear__background {
        background: #eeeeee;
        opacity: 1;
    }

    .v-progress-linear__determinate {
        background: #00847e;
    }
}

// Input
.input-box {
    margin-bottom: 28px;

    .title {
        color: #50555c;
        font-family: "Pretendard Light";
        font-size: 14px;
        line-height: 23.4px; /* 167.143% */
        margin-bottom: 2px;
    }

    input {
        color: #000;
        font-family: "Pretendard Bold";
        font-size: 20px;
        line-height: 31.2px; /* 141.818% */

        width: 100%;
        border-bottom: 2px solid #00847e;
    }

    input::placeholder {
        color: #50555c;
        font-family: "Pretendard";
        font-size: 18px;
        line-height: 31.2px; /* 141.818% */
    }

    input:disabled {
        color: rgba(0, 0, 0, 0.7);
        border-bottom: 1px solid rgba(117, 117, 117, 0.7);
    }
}

// Popup
.dim {
    background: rgba($color: #000000, $alpha: 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    width: 85%;
    border-radius: 12px;
    background: #fff;
    padding: 16px;

    display: flex;
    flex-direction: column;

    .alert-title {
        color: $vc-gray-700;
        /* h3/h3_bold_18 */
        font-family: "Pretendard SemiBold";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 28.8px */
    }

    .alert-desc {
        color: var(--gray-400, #9ca3af);

        /* b2/b2_reg_14 */
        font-family: "Pretendard";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 22.4px */
    }

    .alert-buttons {
        align-self: flex-end;
        display: flex;
        gap: 12px;

        /* b1/b1_med_16 */
        font-family: "Pretendard";
        font-size: 16px;
        font-weight: 500;
        line-height: 160%; /* 25.6px */

        margin-top: 24px;

        .alert-button {
            border-radius: 12px;
            padding: 11px 26px;
            text-align: center;

            color: var(--gray-400, #9ca3af);

            /* b1/b1_med_16 */
            font-family: Pretendard;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%; /* 25.6px */

            cursor: pointer;
        }
        .alert-button.primary {
            background: var(--CTA_accent, #9398ff);
            color: var(--white, #fff);
        }
    }
}

// Tag
.divider {
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #fff;
}

.tag-wrap {
    display: flex;
    margin-top: 16px;
    gap: 8px;
}

.tag-wrap.row {
    flex-direction: row;
    flex-wrap: wrap;
}

.tag-wrap.col {
    flex-direction: column;
}

.tag {
    flex: 0 0 auto;
    display: flex;
    padding: 6px 11px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;

    font-family: "Pretendard Bold";
    font-size: 12px;
    line-height: 160%; /* 19.2px */
}

.tag.primary {
    background: rgba(167, 139, 250, 0.2);
    color: var(--violet-400, #a78bfa);
}

.tag.blue {
    background: rgba(106, 165, 255, 0.2);
    color: #3280ff;
}

.tag.red {
    background: rgba(239, 68, 68, 0.2);
    color: var(--red-400, #f87171);
}

.tag.accent {
    background: var(--CTA_accent, #9398ff);
    color: #fff;
}

.tag.big {
    /* b1/b1_med_16 */
    font-size: 16px;
    width: 100%;

    padding: 11px 12px;
}

.tag.left {
    justify-content: flex-start;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
