/**
 * Default UI
 */

@charset "UTF-8";
html {
    background-color: #eeeeee;
}

body {
    font-family: "Pretendard";
    max-width: 50rem;
    height: 100%;
    margin: 0 auto;
    min-height: calc(var(--vh, 1vh) * 100);
    background-color: #fff;
    --v-scrollbar-offset: 0 !important;
    margin-top: constant(safe-area-inset-top);
    margin-top: env(safe-area-inset-top);
    min-height: calc(var(--vh, 1h) * 100 - constant(safe-area-inset-top));
    min-height: calc(var(--vh, 1h) * 100 - env(safe-area-inset-top));

    > div {
        background: #fff;
        max-width: 50rem;
        margin: 0 auto;
    }
}

.wrap {
    width: 100% !important;
    max-width: 500px;
    background: #fff;
    margin: 0 auto;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.viewport {
    width: 100% !important;
    max-width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    position: relative;
}

.navigation {
    position: fixed;
    bottom: 0;

    width: 100% !important;
    max-width: 500px;
    border-top: 1px solid #e1e1e1;
    background: #ffffff;
    height: 8.5rem !important;
    left: 50% !important;
    transform: translateX(-50%) !important;

    display: flex;
    justify-content: space-between;
}

.header {
    width: 100%;
    max-width: 500px;
    height: 60px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1.3rem;
    z-index: 999;
    top: 0;
    background: #fff;
    border-bottom: 1px solid #f6f6f6;

    position: fixed;
    top: constant(safe-area-inset-top);
    top: env(safe-area-inset-top);
}

.button {
    width: calc(100% - 60px);
    height: 4.5rem;
    border-radius: 12px;
    background-color: #00847e;
    color: #fff;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
}

// Input
.input-box {
    margin-bottom: 28px;

    .title {
        color: #50555c;
        font-family: "Pretendard Light";
        font-size: 14px;
        line-height: 23.4px; /* 167.143% */
        margin-bottom: 2px;
    }

    input {
        color: #000;
        font-family: "Pretendard Bold";
        font-size: 20px;
        line-height: 31.2px; /* 141.818% */

        width: 100%;
        border-bottom: 2px solid #00847e;
    }

    input::placeholder {
        color: #50555c;
        font-family: "Pretendard";
        font-size: 18px;
        line-height: 31.2px; /* 141.818% */
    }

    input:disabled {
        color: rgba(0, 0, 0, 0.7);
        border-bottom: 1px solid rgba(117, 117, 117, 0.7);
    }
}
