@mixin skeleton {
    @keyframes moveRight {
        0% {
            transform: translateX(-200%);
        }
        100% {
            transform: translateX(1100%);
        }
    }

    background: $vc-gray-200;
    overflow: hidden;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 10%;
        height: 100%;
        background: $vc-gray-300;
        box-shadow: 0px 0px 50px 30px $vc-gray-300;
        animation: moveRight 1s infinite linear;
    }
}
