/**
 * Text 
 */
.title {
    color: #000;
    font-family: "Pretendard Bold";
    font-size: 24px;
    line-height: 31.2px; /* 130% */
    margin-bottom: 40px;
}

.subtitle {
    color: #50555c;
    font-family: "Pretendard SemiBold";
    font-size: 18px;
    line-height: 23.4px; /* 130% */
}

.description {
    color: #50555c;
    font-family: "Pretendard Light";
    font-size: 14px;
    line-height: 23.4px; /* 167.143% */
}

// Diary
.diary-title {
    color: #010101;
    font-family: "Pretendard Bold";
    font-size: 16px;
    line-height: 21px; /* 131.25% */
}

.diary-date {
    color: #5c5c5c;
    font-family: "Pretendard";
    font-size: 12px;
    line-height: 21px; /* 175% */
}

.diary-content {
    color: #5c5c5c;
    font-family: "Pretendard";
    font-size: 12px;
    line-height: 21px; /* 175% */
    margin-top: 0.75rem;
}

.diary-subtitle {
    color: #010101;
    font-family: "Pretendard Bold";
    font-size: 18px;
    line-height: 21px; /* 116.667% */
}
