/**
 * Text 
 */
.title {
    color: #000;
    font-family: "Pretendard Bold";
    font-size: 1.5rem;
    line-height: 1.95rem; /* 130% */
    margin-bottom: 40px;
}

.subtitle {
    color: #50555c;
    font-family: "Pretendard SemiBold";
    font-size: 1.125rem;
    line-height: 1.4625rem; /* 130% */
}

.description {
    color: #50555c;
    font-family: "Pretendard Light";
    font-size: 0.875rem;
    line-height: 1.4625rem; /* 167.143% */
}

// Main
.main-title {
    color: #010101;
    font-family: "Pretendard Bold";
    font-size: 1.5rem;
    line-height: 1.95rem; /* 87.5% */
}

.main-description {
    color: #010101;
    font-family: "Pretendard";
    font-size: 0.875rem;
    line-height: 1.3124rem; /* 150% */
}

// Diary
.diary-title {
    color: #010101;
    font-family: "Pretendard Bold";
    font-size: 1rem;
    line-height: 1.3125rem; /* 131.25% */
}

.diary-date {
    color: #5c5c5c;
    font-family: "Pretendard";
    font-size: 0.75rem;
    line-height: 1.3125rem; /* 175% */
}

.diary-content {
    color: #5c5c5c;
    font-family: "Pretendard";
    font-size: 0.75rem;
    line-height: 1.3125rem; /* 175% */
    margin-top: 0.75rem;
}

.diary-subtitle {
    color: #010101;
    font-family: "Pretendard Bold";
    font-size: 1.125rem;
    line-height: 1.3125rem; /* 116.667% */
}
