/**
 * Text 
 */
.title {
    color: #000;
    font-family: "Pretendard Bold";
    font-size: 24px;
    line-height: 31.2px; /* 130% */
    margin-bottom: 40px;
}

.subtitle {
    color: #50555c;
    font-family: "Pretendard SemiBold";
    font-size: 18px;
    line-height: 23.4px; /* 130% */
}

.description {
    color: #50555c;
    font-family: "Pretendard Light";
    font-size: 14px;
    line-height: 23.4px; /* 167.143% */
}
